*.xml
SwClPiranha.iml
*.class
src/META-INF/MANIFEST.MF
out/production/SoftwareChallenge/META-INF/MANIFEST.MF
out/artifacts/SoftwareChallenge_jar/ABC.zip
out/artifacts/SoftwareChallenge_jar/SoftwareChallenge.jar
out/artifacts/SoftwareChallenge_jar/data.txt
out/production/SoftwareChallenge/META-INF2/META-INF/MANIFEST.MF
out/production/SoftwareChallenge/META-INF3/META-INF/MANIFEST.MF
out/artifacts/MyClient/run/logs/
*.MF
out/artifacts/MyClient/spielleiter-error.log
out/artifacts/MyClient/run/Aspiring2.jar
out/artifacts/MyClient/run/Aspiring1.jar
